Source: usb-tethering
Section: net
Priority: optional
Maintainer: Bardia Moshiri <fakeshell@bardia.tech>
Build-Depends: debhelper-compat (= 13),
Standards-Version: 4.7.2
Vcs-Git: https://github.com/furilabs/usb-tethering.git
Vcs-Browser: https://github.com/furilabs/usb-tethering

Package: usb-tethering
Architecture: all
Breaks: hybris-usb
Replaces: hybris-usb
Depends: isc-dhcp-server,
         net-tools,
         ethtool,
         ${shlibs:Depends},
         ${misc:Depends}
Description: Early debugging USB configuration script 
